.logo{
    position: absolute;
    top: 42px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    left: 50px;
}

.topnav {
    
    overflow: hidden;
    position: absolute;
    top: 60px ;
    left: 80%;
    border: 1px solid black;
    border-radius: 100%;
}
  

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 50%;
}
  
 
.topnav a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}
  

  

.tt1{
    position: absolute;
    top: 140px;
}
.m1{
    position: absolute;
    width: 205px;
    height: 305px;
    top: 29%;
    left: 0.3%;
}

.m2{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 17.7%;
    top: 29%;
}

.m3{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 34%;
    top: 29%;
}

.m4{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 50.3%;
    top: 29%;
}

.m5{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 66.6%;
    top: 29%;
}

.m6{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 82.9%;
    top: 29%;
}

.p1{
    position: absolute;
    width: 200px;
    top: 77.7%;
    left: 4%;
}

.p2{
    position: absolute;
    width: 194px;
    left: 21.2%;
    top: 77.7%;
}

.p3{
    position: absolute;
    width: 194px;
    left: 39.7%;
    top: 77.7%;
}

.p4{
    position: absolute;
    width: 194px;
    left: 52.8%;
    top: 77.7%;
}

.p5{
    position: absolute;
    width: 194px;
    left: 70.4%;
    top:77.7%;
}

.p6{
    position: absolute;
    width: 194px;
    left: 87%;
    top: 77.7%;
}

.m7{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 81%;
    left: 0.6%;
}

.m8{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 17.7%;
    top: 81%;
}

.m9{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 34%;
    top: 81%;
}

.m10{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 50.3%;
    top: 81%;
}

.m11{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 66.6%;
    top: 81%;
}

.m12{
    position: absolute;
    width: 194px;
    height: 294px;
    left: 82.9%;
    top: 81%;
}

.p7{
    position: absolute;
    width: 200px;
    top: 128.7%;
    left: 4%;
}

.p8{
    position: absolute;
    width: 194px;
    left: 21.2%;
    top: 128.7%;
}

.p9{
    position: absolute;
    width: 194px;
    left: 38%;
    top: 128.7%;
}

.p10{
    position: absolute;
    width: 194px;
    left: 54%;
    top: 128.7%;
}

.p11{
    position: absolute;
    width: 194px;
    left: 69.3%;
    top:128.7%;
}

.p12{
    position: absolute;
    width: 194px;
    left: 84.3%;
    top: 128.7%;
}
.t1{
    position: absolute;
    top: 133%;
}
.mine1{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 138%;
    border: 1px solid black;
    border-radius: 5%;
}

.j1{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n1{
    position: absolute;
    width: 334px;
    height: 434px;
    top : 10%;
    left: 304px;
    font-size: xx-large;
}

.mine2{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 138%;
    left: 700px;
    border: 1px solid black;
    border-radius: 5%;
}

.j2{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n2{
    position: absolute;
    width: 364px;
    height: 434px;
    top : 10%;
    left: 294px;
    font-size: xx-large;
}

.mine3{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 200%;
    border: 1px solid black;
    border-radius: 5%;
}

.j3{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n3{
    position: absolute;
    width: 334px;
    height: 434px;
    top : 10%;
    left: 304px;
    font-size: xx-large;
}

.mine4{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 200%;
    left: 700px;
    border: 1px solid black;
    border-radius: 5%;
}

.j4{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n4{
    position: absolute;
    width: 364px;
    height: 434px;
    top : 10%;
    left: 294px;
    font-size: xx-large;
}

.mine5{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 264%;
    border: 1px solid black;
    border-radius: 5%;
}

.j5{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n5{
    position: absolute;
    width: 334px;
    height: 434px;
    top : 10%;
    left: 304px;
    font-size: xx-large;
}

.mine6{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 264%;
    left: 700px;
    border: 1px solid black;
    border-radius: 5%;
}

.j6{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n6{
    position: absolute;
    width: 364px;
    height: 434px;
    top : 10%;
    left: 294px;
    font-size: xx-large;
}

.mine7{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 328.6%;
    left: 28%;
    border: 1px solid black;
    border-radius: 5%;
}

.j7{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n7{
    position: absolute;
    width: 334px;
    height: 434px;
    top : 10%;
    left: 304px;
    font-size: xx-large;
}

.t2{
    position: absolute;
    top: 386%;
}

.mine8{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 396%;
    border: 1px solid black;
    border-radius: 5%;
}

.j8{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n8{
    position: absolute;
    width: 334px;
    height: 434px;
    top : 10%;
    left: 304px;
    font-size: xx-large;
}

.mine9{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 396%;
    left: 700px;
    border: 1px solid black;
    border-radius: 5%;
}

.j9{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n9{
    position: absolute;
    width: 364px;
    height: 434px;
    top : 10%;
    left: 294px;
    font-size: xx-large;
}

.mine10{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 460%;
    border: 1px solid black;
    border-radius: 5%;
}

.j10{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n10{
    position: absolute;
    width: 364px;
    height: 434px;
    top : 10%;
    left: 294px;
    font-size: xx-large;
}

.mine11{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 460%;
    left: 700px;
    border: 1px solid black;
    border-radius: 5%;
}

.j11{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n11{
    position: absolute;
    width: 364px;
    height: 434px;
    top : 10%;
    left: 294px;
    font-size: xx-large;
}

.mine12{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 524%;
    border: 1px solid black;
    border-radius: 5%;
}

.j12{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n12{
    position: absolute;
    width: 364px;
    height: 434px;
    top : 10%;
    left: 294px;
    font-size: xx-large;
}

.mine13{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 524%;
    left: 700px;
    border: 1px solid black;
    border-radius: 5%;
}

.j13{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n13{
    position: absolute;
    width: 364px;
    height: 434px;
    top : 10%;
    left: 294px;
    font-size: xx-large;
}

.mine14{
    position: absolute;
    width: 650px;
    height: 334px;
    top: 588%;
    left: 28%;
    border: 1px solid black;
    border-radius: 5%;
}

.j14{
    width: 234px;
    height: 334px;
    border-radius: 5%;
}

.n14{
    position: absolute;
    width: 364px;
    height: 434px;
    top : 10%;
    left: 294px;
    font-size: xx-large;
}

.s1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 409px;
    top: 660%;
    border: 1px solid black;
    border-radius: 5%;
}
.s2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 489px;
    top: 660%;
    border: 1px solid black;
    border-radius: 5%;
}
.s3{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 569px;
    top: 660%;
    border: 1px solid black;
    border-radius: 5%;
}
.s4{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 649px;
    top: 660%;
    border: 1px solid black;
    border-radius: 5%;
}
.s5{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 729px;
    top: 660%;
    border: 1px solid black;
    border-radius: 5%;
}
.s6{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 809px;
    top: 660%;
    border: 1px solid black;
    border-radius: 5%;
}
.s7{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 889px;
    top: 660%;
    border: 1px solid black;
    border-radius: 5%;
}
.s8{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 969px;
    top: 660%;
    border: 1px solid black;
    border-radius: 5%;
}
.ss1{
    font-size: x-large;
    position: absolute;
    left: 35%;
    top: 10px;
}
.ss2{
    font-size: x-large;
    position: absolute;
    left: 35%;
    top: 10px;
}
.ss3{
    font-size: x-large;
    position: absolute;
    left: 35%;
    top: 10px;
}
.ss4{
    font-size: x-large;
    position: absolute;
    left: 35%;
    top: 10px;
}
.ss5{
    font-size: x-large;
    position: absolute;
    left: 35%;
    top: 10px;
}
.ss6{
    font-size: x-large;
    position: absolute;
    left: 35%;
    top: 10px;
}
.ss7{
    font-size: x-large;
    position: absolute;
    left: 35%;
    top: 10px;
}
.ss8{
    font-size: x-large;
    position: absolute;
    left: 35%;
    top: 10px;
}

.e{
    position: absolute;
    top: 670%;
    font-size: xx-large;
    left: 520px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 42px;
    overflow: hidden;
    background: black;
    transition: height 0.2s linear;
    cursor: pointer;
    padding: 8px 12px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    
  
    > a {
      width: 10%;
      text-align: center;
      font-size: 1.6rem;
      color: white;
      text-decoration: none;
      transition: all 0.5s ease;
    }
  
    > a:hover {
      color: black;
      opacity: 1;
      background: white;
      border-radius: 20px;
    }
  
    > div {
      width: 10%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  
    & div a {
      width: 100%;
      font-size: 1.6rem;
      color: white;
      text-decoration: none;
      transition: all 0.5s ease;
    }
  
    > div a:hover {
      color: black;
      opacity: 1;
      background: white;
      border-radius: 20px;
    }
  }
  
  .navbar:hover {
    height: 100px;
    overflow: visible;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 42px;
    overflow: hidden;
    background: black;
    transition: height 0.8s;
    cursor: pointer;
    padding: 8px 12px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
  
    > a {
      width: 10%;
      text-align: center;
      font-size: 1.6rem;
      color: white;
      text-decoration: none;
      transition: all 0.6s ease;
    }
  
    > a:hover {
      color: black;
      opacity: 1;
      background: white;
      border-radius: 20px;
    }
  
    > div {
      width: 10%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  
    & div a {
      width: 100%;
  
      font-size: 1.6rem;
      color: white;
      text-decoration: none;
      transition: all 0.6s ease;
    }
  
    > div a:hover {
      color: black;
      opacity: 1;
      background: white;
      border-radius: 20px;
    }
  }
  
  .navbar:hover {
    height: 100px;
    overflow: visible;
  }
  
  @media only screen and (max-width: 428px) {
    body {
      background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTU4NDgwMy1pbWFnZS1rd3Z4dmxjai5qcGc.jpg");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      box-sizing: border-box;
    }
    .navbar {
      padding: 8px 4px;
    }
    .navbar a {
      font-size: 0.9rem;
      margin: 4px 2px;
      width: auto;
    }
  
    .navbar div,
    .navbar div a {
      width: auto;
    }
    .navbar div a {
      font-size: 0.9rem;
      margin: 4px 2px;
      padding: 2px;
    }
  }